<div class="container mt-5">
    <div class="p-5 mb-4 bg-light rounded-3 shadow-sm border">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold text-dark">TaskFlow Proje Detayları</h1>
            <p class="col-md-8 fs-5 text-muted">
                Bu uygulama kullanıcıların günlük işlerini dijital bir ortamda planlamasını, 
                veritabanı üzerinde saklamasını ve yönetmesini sağlamaktır.
            </p>
            <hr class="my-4">
            <div class="row">
                <div class="col-md-6">
                    <h5>Kullanılan Teknolojiler:</h5>
                    <ul>
                        <li>ASP.NET Core MVC 9.0</li>
                        <li>Entity Framework Core</li>
                        <li>MS SQL Server</li>
                        <li>Bootstrap 5</li>
                    </ul>
                </div>
                <div class="col-md-6 text-end">
                    <p class="mb-0"><strong>Öğrenci:</strong> Nurefşan</p>
                    <p><strong>Ders:</strong> Web Tabanlı Programlama</p>
                </div>
            </div>
            <a href="/Tasks" class="btn btn-outline-dark mt-3">Sistemi Test Et</a>
        </div>
    </div>
</div>